.wrapper {
  width: 100%;
}

.content {
  width: 100%;
  height: calc(100vh - 56px - var(--input-heigh) - 64px - 6px);
  overflow-y: hidden;
  scroll-behavior: smooth;

  &:hover {
    overflow-y: overlay;
  }
}

.body {
  width: 728px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
