.wrapper {
  width: 100%;
  position: absolute;
  bottom: 36px;
  transition: height 0.3s;
}

.input {
  width: 60%;
  max-width: 728px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  border-radius: 8px;
  position: relative;

  .left,
  .right {
    align-self: flex-end;
    width: 50px;
    font-size: 1.7rem;
    margin-bottom: 8px;
    color: var(--sub-txt);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--main-hover);
      }
    }
  }

  .center {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: text;
    min-height: 44px;
    padding: 8px 0;

    textarea {
      max-height: 500px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 0.9rem;
      color: var(--sub-txt);
      caret-color: var(--primary-color);
      resize: none;
      overflow: hidden;
      margin: 6px 0;
      background-color: var(--main-bg);
    }
  }

  .right {
    transform: rotate(45deg);
  }

  .outside-top-right,
  .outside-right {
    position: absolute;
    right: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .outside-top-right {
    background-color: var(--main-bg);
    color: var(--sub-txt);
    bottom: 60px;
  }

  .outside-right {
    bottom: 0;
    color: var(--main-bg);
    background-color: var(--primary-color);
  }
}
