//common

.seperate {
  height: 12px;
  margin: 8px 0 8px -10px;
  width: calc(100% + 20px);
  background-color: var(--sub-bg);

  div {
    height: 100%;
    width: 100%;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.06) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 94%,
      rgba(0, 0, 0, 0.06) 100%
    );
  }
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--main-bg);

  .back-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
  }

  .title {
    padding-left: 24px;
    font-size: 1.26rem;
    font-weight: 600;
    color: var(--main-txt);
    width: 308px;
  }
}

.body {
  background-color: var(--main-bg);

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      width: 120px;
      height: 120px;
      margin-bottom: 10px;
    }

    .name {
      font-size: 1.26rem;
      font-weight: 600;
      color: var(--main-txt);
    }

    .status {
      font-size: 0.96rem;
      color: var(--sub-txt);
      margin-bottom: 18px;
    }
  }
}

//profile sidebar

.profile-sidebar {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-color: var(--sub-bg);

  &:hover {
    overflow-y: overlay;
  }

  .edit-btn {
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .slide-menu {
    height: calc(100vh - 56px);
  }
}

//edit profile

.edit-profile {
  background-color: var(--sub-bg);
  height: 100vh;

  .body {
    height: fit-content;

    .input {
      margin: 16px 20px;
    }

    .delete-contact {
      padding-bottom: 8px;
    }

    .done-btn {
      width: 54px;
      height: 54px;
      background-color: var(--primary-color);
      border-radius: 50%;
      color: var(--main-bg);
      font-size: 24px;
      position: absolute;
      bottom: -50px;
      right: 18px;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &.show {
        visibility: visible;
        bottom: 36px;
      }
    }
  }
}

//search sidebar

.search-sidebar {
  .header {
    .search {
      flex: 9;
      display: flex;
      align-items: center;
      outline: var(--main-border);
      border: 2px solid var(--main-bg);
      border-radius: 50px;
      margin-left: 4px;

      .icon {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        color: var(--sub-txt);
      }

      .input {
        height: 38px;
        width: 100%;
        border-radius: 50px;
        font-size: 1rem;
        caret-color: var(--primary-color);
      }

      &:focus-within {
        border: var(--sub-border);

        .icon {
          color: var(--primary-color);
        }
      }
    }

    .calendar {
      width: 40px;
      height: 40px;
      font-size: 24px;
      margin-left: 12px;
    }
  }
}
