.wrapper {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:focus,
  &:hover {
    background: var(--main-hover);
  }
}
