.wrapper {
  background-color: var(--main-bg);
  border-radius: 8px;
  box-shadow: var(--menu-box-shadow);
  padding-top: 8px;
  position: absolute;
}

.pBottom {
  padding-bottom: 8px;
}

.footer {
  background-color: var(--main-hover);
  font-size: 0.9rem;
  color: var(--sub-txt);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper.actived {
  visibility: visible;
  animation: var(--menu-open) 0.1s;
}

.wrapper.unActived {
  animation: var(--menu-close) 0.2s forwards;
}

.wrapper.firstRender {
  visibility: hidden;
}

//menu item

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--main-txt);
  height: 50px;
  padding-left: 16px;
  font-weight: 500;
  overflow: hidden;
  position: relative;

  .icon,
  .checkbox {
    font-size: 1.6rem;
    margin-right: 10px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sub-txt);
  }

  .checkbox {
    height: 20px;
    margin-right: 30px;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .text {
    font-size: 1rem;
    color: var(--main-txt);
  }

  .bottom-text,
  .right-text {
    font-size: 0.8rem;
    color: var(--sub-txt);
  }

  .right-text {
    margin-left: auto;
    margin-right: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transition: background-color var(--animation-time);
    transform: translate3d(-50%, -50%, 0);
    background: var(--sub-hover);
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--main-hover);
  }
}

.menu-item.large {
  height: 60px;

  .icon {
    margin-right: 24px;
  }
}

.menu-item.round {
  border-radius: 10px;
  padding-left: 8px;
  width: 96%;
  margin: 0 auto;
}

.menu-item.range {
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 8px;
  cursor: default;

  input {
    height: 2px;
    width: 96%;
    cursor: pointer;
  }

  &:hover {
    background-color: var(--main-bg);
  }
}

.menu-item.actived {
  &::after {
    transition: width var(--animation-time), height var(--animation-time);
    width: 600px;
    height: 600px;
  }
}
