.wrapper {
  padding: 0 16px;
  background-color: var(--main-bg);
}

.container {
  display: flex;
  align-items: center;
  height: 56px;
  cursor: pointer;
}

.chat-info {
  flex: 7;
  display: flex;
}

.avatar {
  width: 42px;
  height: 42px;
  font-size: 1.2rem;
  font-weight: 500;
}

.info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.name {
  color: var(--main-txt);
  font-size: 1rem;
  font-weight: 600;
  height: 21px;
}

.status {
  font-size: 0.84rem;
  font-weight: 400;
  color: var(--sub-txt);
}

.utils {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  div {
    font-size: 1.4rem;
    color: var(--sub-txt);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    z-index: 1;

    &:hover {
      &::after {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--main-hover);
        z-index: -1;
        position: absolute;
      }
    }
  }
}
