//common style

.header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--main-bg);

  .back {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--sub-txt);
    position: relative;

    &:hover {
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: var(--main-hover);
        border-radius: 50%;
      }
    }
  }

  .title {
    flex: 6;
    margin-left: 8px;
    font-size: 1.32rem;
    font-weight: 600;
    color: var(--main-txt);
  }

  .ultils {
    flex: 2;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--sub-txt);

    .btn {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.body {
  overflow: hidden;
  padding: 0 10px;
  height: calc(100vh - 58px);

  &:hover {
    overflow-y: overlay;
  }
}

.seperate {
  height: 12px;
  margin: 8px 0 16px -10px;
  width: calc(100% + 20px);
  background-color: var(--sub-bg);

  div {
    height: 100%;
    width: 100%;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.06) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 94%,
      rgba(0, 0, 0, 0.06) 100%
    );
  }
}

.next-btn {
  width: 54px;
  height: 54px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--main-bg);
  font-size: 24px;
  position: absolute;
  bottom: -50px;
  right: 18px;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.show {
    visibility: visible;
    bottom: 36px;
  }
}

//main sidebar
.main-sidebar {
  position: relative;
  height: 100%;
  background-color: var(--main-bg);

  .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    bottom: 36px;
    right: 18px;
    width: 54px;
    height: 54px;
    background-color: var(--primary-color);
    color: var(--main-bg);
    border-radius: 50%;
    cursor: pointer;
  }

  @keyframes zoom {
    from {
      font-size: 1rem;
    }
    to {
      font-size: 1.8rem;
    }
  }
}

//contacts sidebar
.contact-sidebar {
  background-color: var(--main-bg);
  height: 100%;

  .add-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    bottom: 36px;
    right: 18px;
    width: 54px;
    height: 54px;
    background-color: var(--primary-color);
    color: var(--main-bg);
    border-radius: 50%;
    cursor: pointer;
  }
}

//settings sidebar
.setting-sidebar {
  background-color: var(--sub-bg);
  height: 100%;

  .body {
    padding: 0;
  }

  .info {
    padding-top: 30px;
    padding-bottom: 8px;
    background-color: var(--main-bg);

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .avatar {
      width: 120px;
      height: 120px;
      font-size: 2.8rem;
      font-weight: 600;
    }
    .name {
      margin-top: 8px;
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--main-txt);
    }
    .status {
      margin-top: 4px;
      font-size: 0.95rem;
      color: var(--sub-txt);
      margin-bottom: 4px;
    }
    .phone {
      margin-top: 8px;
    }
  }

  .seperate {
    height: 12px;
    width: 100%;
    background-color: var(--sub-bg);

    div {
      height: 100%;
      width: 100%;

      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.06) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 94%,
        rgba(0, 0, 0, 0.06) 100%
      );
    }
  }

  .setting-menu {
    background-color: var(--main-bg);
    padding-top: 8px;
  }
}

//new channel sidebar
.new-channel {
  background-color: var(--sub-bg);

  .body {
    padding: 0;
    position: relative;
    overflow-y: hidden;

    .info {
      background-color: var(--main-bg);
      padding: 0 10px 20px 10px;

      .logo-edit {
        width: 120px;
        height: 120px;
        background-color: var(--primary-color);
        margin: 0 auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-input {
          visibility: hidden;
          width: 0;
          height: 0;
        }

        .upload-img-btn {
          font-size: 40px;
          height: 40px;
          color: var(--main-bg);
          transition: transform 0.3s;
        }

        &:hover {
          cursor: pointer;

          .upload-img-btn {
            transform: scale(1.5);
          }
        }
      }

      .text-input {
        margin-top: 16px;
      }
    }

    .note {
      color: var(--sub-txt);
      margin-left: 12px;
      margin-top: 10px;
      font-size: 14px;
    }
  }
}

//new group sidebar
.new-group {
  .members {
    display: flex;
    flex-wrap: wrap;

    .member {
      display: flex;
      align-items: center;
      border-radius: 50px;
      background-color: var(--main-hover);
      padding-right: 8px;
      margin-left: 8px;
      margin-bottom: 7px;
      transition: all 0.3s;

      .avatar {
        width: 32px;
        height: 32px;
        position: relative;

        .remove-icon {
          width: 100%;
          height: 100%;
          background-color: var(--main-red);
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 40px;
          color: var(--main-bg);
          visibility: hidden;
          transform: rotate(-45deg);
          transition: all 0.2s ease-in-out;
        }
      }

      .name {
        margin-left: 8px;
        color: var(--main-txt);
      }

      &:hover {
        background-color: var(--sub-red);
        cursor: pointer;

        .remove-icon {
          visibility: visible;
          transform: rotate(0);
        }
      }
    }
  }

  .body {
    padding: 0;
  }

  input[type="text"] {
    caret-color: var(--primary-color);
    font-size: 16px;
    padding: 7px 0 11px;
    margin-left: 18px;
  }
}

//new private chat
.new-private-chat {
  .body {
    position: relative;

    .add-btn {
      width: 54px;
      height: 54px;
      background-color: var(--primary-color);
      border-radius: 50%;
      color: var(--main-bg);
      font-size: 24px;
      position: absolute;
      bottom: 36px;
      right: 18px;
      cursor: pointer;
    }
  }
}
