.wrapper {
}

.slide-menu {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 4px;
  padding-bottom: 4px;

  border-bottom: var(--main-border);

  &::after {
    content: "";
    position: absolute;
    top: 106px;
    left: var(--left);
    width: var(--tick-size);
    height: 3px;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: left 0.2s ease-in-out;
  }
}

.item {
  padding: 12px 12px;
  color: var(--sub-txt);
  font-size: 0.98rem;
  font-weight: 600;
  background-color: var(--main-bg);
  position: relative;

  &:hover {
    background-color: var(--main-hover);
    border-radius: 8px;
  }
}

.item.actived {
  color: var(--primary-color);
}

.result {
  height: 500px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
