.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  background-color: var(--toast-bg);
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  z-index: 999;
  animation: fadeOut 1.5s var(--delay) ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
