.wrapper {
  padding: 4px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.2s;

  &.selected {
    background-color: var(--light-green);
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-left: 12px;
  width: 728px;
}

.wrapper.center {
  .container {
    justify-content: center;
  }
}

.wrapper.left {
  .container {
    justify-content: flex-start;
  }
}

.wrapper.left,
.wrapper.center {
  .content {
    background-color: var(--main-bg);
  }
  .detail {
    color: var(--sub-txt);
  }
}

.content {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 8px 8px 2px 8px;
  background-color: var(--third-color);
  color: var(--main-txt);
  border-radius: 10px;
  font-size: 0.88rem;
}

.message {
  display: inline;
}

.detail {
  display: inline-flex;
  align-items: center;
  color: var(--sub-color);
  margin-left: 4px;
  float: right;
  margin-top: 6px;

  .time {
    font-size: 0.75rem;
  }

  .status-icon {
    display: inline;
    font-size: 1.2rem;
    margin-bottom: -6px;
  }
}
