.container {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--main-bg);
  height: 56px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;

  &::after {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    background-color: var(--sub-hover);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.chat-info {
  display: flex;
}

.avatar {
  width: 42px;
  height: 42px;
  font-size: 1.2rem;
  font-weight: 500;
}

.info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.name {
  color: var(--main-txt);
  font-size: 1rem;
  font-weight: 600;
  height: 21px;
}

.status {
  font-size: 0.84rem;
  font-weight: 400;
  color: var(--sub-txt);
}

.date {
  position: absolute;
  right: 14px;
  top: 16px;
  font-size: 0.8rem;
  color: var(--sub-txt);
}

.large {
  .container {
    height: 72px;
    padding: 8px;
  }

  .avatar {
    width: 54px;
    height: 54px;
  }

  .status {
    font-size: 1rem;
    font-weight: 500;
  }
}

.hover {
  &:hover {
    .container {
      background-color: var(--main-hover);
    }
  }
}

.actived {
  .container {
    background-color: var(--primary-color);
    overflow: hidden;
  }

  .name,
  .status,
  .date {
    color: white;
  }

  &:hover {
    .container {
      background-color: var(--primary-color);
    }
  }
}

.animation-actived {
  .container {
    &::after {
      width: 1000px;
      height: 1000px;
      transition: width var(--animation-time), height var(--animation-time);
    }
  }
}
