.container {
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  height: 56px;
  cursor: pointer;
}

.chat-info {
  display: flex;
}

.avatar {
  width: 42px;
  height: 42px;
  font-size: 1.2rem;
  font-weight: 500;
}

.info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.name {
  color: var(--main-txt);
  font-size: 1rem;
  font-weight: 600;
  height: 21px;
}

.status {
  font-size: 0.84rem;
  font-weight: 400;
  color: var(--sub-txt);
}

.large {
  .container {
    height: 72px;
    padding: 8px;
  }

  .avatar {
    width: 54px;
    height: 54px;
  }

  .status {
    font-size: 1rem;
    font-weight: 500;
  }
}

.hover {
  &:hover {
    background-color: var(--main-hover);
    border-radius: 8px;
  }
}

.actived {
  .container {
    background-color: var(--primary-color);
    border-radius: 8px;
  }

  .name,
  .status {
    color: white;
  }
}
