.wrapper {
  background-color: var(--main-bg);
  margin-bottom: 10px;
  border: var(--main-border);
  border-left: none;
  border-right: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.title {
  font-size: 1.05rem;
  color: var(--primary-color);
  font-weight: 600;
  margin: 12px 0 8px 20px;
}
