* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

:root {
  --main-bg: #ffffff;
  --sub-bg: #f4f4f5;

  --main-txt: #272727;
  --sub-txt: #707579;

  --main-border: 1px solid #dfe1e5;

  --primary-color: #3390ec;

  --main-hover: rgba(112, 117, 121, 0.08);
}
