.wrapper {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  background-color: var(--main-bg);
  color: var(--main-txt);

  @media screen and (max-width: 920px) {
    .content,
    .sidebar {
      border: none;
    }
  }
}

.sidebar {
  width: 0;
  height: 100vh;
  background-color: var(--main-bg);
  border: var(--main-border);
  border-top: none;
  position: relative;
  overflow: hidden;
  transition: width 0.3s;
}

.sidebar.actived {
  width: 420px;
}

.content {
  flex: 1;
  position: relative;
  border: var(--main-border);
  border-top: none;
  transition: width 0.3s;
  background: url("/assets/images/background.jpg");
  background-size: cover;
}
