.wrapper {
  width: 1680px;
  margin: 0 auto;
  display: flex;
  background-color: var(--main-bg);
  color: var(--main-txt);
}

.sidebar {
  width: 0;
  height: 100vh;
  background-color: var(--main-bg);
  border: var(--main-border);
  border-top: none;
  position: relative;
  overflow: hidden;
  transition: width 0.3s;
}

.sidebar.actived {
  width: 420px;
}

.content {
  flex: 1;
  position: relative;
  border: var(--main-border);
  border-top: none;
  background: url("../assets/images/background.jpg");
  background-size: cover;
  transition: width 0.3s;
}
